## variables

In [10]:
# Assigning values to variables
name = "Kiran"     # String
age = 30           # Integer
height = 5.9       # Float
is_student = False # Boolean
skills = ["Python", "SQL", "Azure"]  # List
profile = {"name": "Kiran", "age": 30, "height": 5.9}  # Dictionary
unique_ids = {101, 102, 103}  # Set

### printing variables

In [15]:
# Printing the outputs to demonstrate the results
print("Name:", name)  # Output: Kiran
print("Age after 5 years:", age)  # Output: 35
print("Double Height:", height)  # Output: 11.8

greeting = "Hello, " + name + "!"  
print("Greeting:", greeting)  # Output: Hello, Kiran!

can_access = is_student or age > 25
print("Has Access:", can_access)  # Output: True

print("Updated Skills:", skills)  # Output: ['Python', 'SQL', 'Azure', 'Jenkins']
print("Profile Name:", profile["name"])  # Output: Kiran
print("Unique IDs:", unique_ids)  # Output: {101, 102, 103, 104}

Name: Kiran
Age after 5 years: 30
Double Height: 5.9
Greeting: Hello, Kiran!
Has Access: True
Updated Skills: ['Python', 'SQL', 'Azure']
Profile Name: Kiran
Unique IDs: {101, 102, 103}

##

## print() and input() 
The print() function is used to display information to the console. You can print strings, numbers, and other data types. 
The input() function allows you to capture user input from the console. It returns the input as a string. Hereâ€™s how you can use it:

In [1]:
# Printing a string
print("Hello, world!")

# Printing multiple items
name = "Alice"
age = 30
print("Name:", name, "Age:", age)

# Formatting output
print(f"{name} is {age} years old.")

Hello, world!
Name: Alice Age: 30
Alice is 30 years old.

In [2]:
# Prompting for user input
user_name = input("Enter your name: ")
print("Hello,", user_name)

# Getting numerical input and converting it to an integer
user_age = input("Enter your age: ")
user_age = int(user_age)  # Convert the input to an integer
print("You are", user_age, "years old.")

Enter your name:  kiran

Hello, kiran

Enter your age:  25

You are 25 years old.

In [4]:
# Ask for user information
name = input("What is your name? ")
age = input("How old are you? ")

# Output the information
print(f"{name}, you are {age} years old right!")

What is your name?  kiran
How old are you?  25

kiran, you are 25 years old right!

### customizing out put with sep and end

In [5]:
print("Python", "is", "fun", sep="-", end="!\n")

Python-is-fun!