### Key Features of Tuples:
**Immutable**: Once created, you cannot change or modify the elements of a tuple.  
**Ordered**: The elements in a tuple have a defined order.  
**Heterogeneous**: A tuple can contain elements of different data types (integers, strings, floats, etc.).  
**Indexing**: You can access elements using an index, similar to lists.

In [1]:
# Empty tuple
my_tuple = ()

# Tuple with values
my_tuple = (1, 2, 3, 4)

# Mixed data types
mixed_tuple = (1, "hello", 3.14, True)

In [2]:
# Access by index
print(my_tuple[0])   
print(my_tuple[2])   

# Negative indexing
print(my_tuple[-1])  
print(my_tuple[-3])

1
3
4
2

### Tuple methods

In [7]:
#count()

my_tuple = (1, 2, 3, 2, 2)
my_tuple1=('ss','fsds','ss')
print(my_tuple.count(2)) 
print(my_tuple1.count('ss'))

3
2

In [8]:
# index 
print(my_tuple.index(3))

2

In [9]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[1:4])

(2, 3, 4)

In [10]:
# since tuple are immutable we do not have any methods to add or remove elements from  tuple

In [1]:
### exercise

In [2]:
#1.Write a Python program to create a tuple
t = (10,200,4,55,402)
print(t)
print(type(t))

(10, 200, 4, 55, 402)
<class 'tuple'>

In [3]:
#2.Write a Python program to create a tuple with different data types

a = ("kiran",[4, 2, 3],'T',2)
print(a)

('kiran', [4, 2, 3], 'T', 2)

In [4]:
#3.Write a Python program to create a tuple with numbers and print one item
s = (1,2,3,4,5,6,7,8)
print(s)
print(type(s))
s[2]

(1, 2, 3, 4, 5, 6, 7, 8)
<class 'tuple'>

3

In [6]:
#4.Write a Python program to unpack a tuple in several variables
names = ("neha", "avinash", "swapnali","nikita")
name1,name2,name3,name4 = names
print(name1)
print(name2) 
print(name3)
print(name4)

neha
avinash
swapnali
nikita

In [7]:
#5.Write a Python program to add an item in a tuple
names = ("neha", "avinash", "swapnali","kiran")
new_names = ("rahul",) + names
print(new_names)

('rahul', 'neha', 'avinash', 'swapnali', 'kiran')

In [8]:
#6.Write a Python program to convert a tuple to a string
new_names = ", ".join(names)
print(new_names)

neha, avinash, swapnali, kiran

In [11]:
names+('sdf')

TypeError: can only concatenate tuple (not "str") to tuple

In [12]:
#7.Write a Python program to get the 4th element and 4th element from last of a tuple
# Create a tuple
s = (1, 2, 3, 4, 5, 6)

# Access the 4th element
fourth_element = s[4]
print("The 4th element is:", fourth_element)

# Access the 4th element from the last
last_fourth_element = s[-4]
print("The 4th element from last is:", last_fourth_element)

The 4th element is: 5
The 4th element from last is: 3

In [14]:
#9.Write a Python program to find the repeated items of a tuple
def repeated_items(a, item):
    count = a.count(item)
    return count
a = (6, 39, 55, 2, 1, 6, 8, 6, 78, 34, 6)
item = 6
count = repeated_items(a, item)
print("Repeated items =",count)

Repeated items = 4