A set is a unique collection of objects in Python. You can denote a set with a pair of curly brackets {}. Python will automatically remove duplicate items:

In [1]:
# Create a set

set1 = {"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}
set1

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

In [2]:
# Convert list to set

album_list = [ "kiran", "dinesh ", 1982, "12:45", \
              "rock, paper, scissor", 46.0, 65, "30-Nov-82", None, 10.0,True]
album_set = set(album_list)             
album_set

{10.0,
 '12:45',
 1982,
 '30-Nov-82',
 46.0,
 65,
 None,
 True,
 'dinesh ',
 'kiran',
 'rock, paper, scissor'}

### Set Operations

In [3]:
A = set(["kiran", "ajit", "raju"])
A

{'ajit', 'kiran', 'raju'}

In [4]:
# Add element to set

A.add("priya")
A

{'ajit', 'kiran', 'priya', 'raju'}

In [7]:
# add duplicate element to the set

A.add("priya")
A

{'ajit', 'kiran', 'priya', 'raju'}

In [9]:
# Remove the element from set

A.remove("priya")
A

{'ajit', 'kiran', 'raju'}

In [10]:
# Verify if the element is in the set

"kiran" in A

True

### Sets Logic Operations
Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection, and union:  

Union (set1 | set2): Combines all unique elements from both sets.  
Intersection (set1 & set2): Gets common elements from both sets.  
Difference (set1 - set2): Elements in set1 but not in set2.  
Symmetric Difference (set1 ^ set2): Elements in either set1 or set2, but not in both.

In [25]:
numbers_set1=set([1,2,3,4,5,6,7,8,9,10,11])
numbers_set2=set([2,4,6,8,10,12,14,16])

In [26]:
# Find the intersections

intersection = numbers_set1 & numbers_set2
intersection

{2, 4, 6, 8, 10}

In [27]:
# Find the difference in set1 but not set2

numbers_set1.difference(numbers_set2)

{1, 3, 5, 7, 9, 11}

In [28]:
numbers_set2.intersection(numbers_set1)

{2, 4, 6, 8, 10}

In [29]:
# union of two sets 
numbers_set1.union(numbers_set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 16}

In [33]:
# Check if superset

numbers_set1.issuperset(numbers_set2)

False

In [34]:
numbers_set1.issubset(numbers_set2)

False